/* 
    Created on : Dec 26, 2014, 12:35:34 PM
    Author     : tanpa
*/

#accordion .panel {
    margin-bottom: 5px;
}

ul.summary {
    font-size: 12px;
    margin: 5px;
    padding: 0px;
    list-style: none;                
}

ul.summary h5 {
    color: #333;
    padding: 5px 0px; 
    margin: 0px; 
    font-weight: 700;
    font-size: 14px;
}

ul.summary li:hover {
    cursor: pointer;          
    -webkit-box-shadow: inset 0px 0px 15px -4px rgba(148,179,235,0.8);
    -moz-box-shadow: inset 0px 0px 15px -4px rgba(148,179,235,0.8);
    box-shadow: inset 0px 0px 15px -4px rgba(148,179,235,0.8);
}

ul.summary li.not-applicable {
    font-weight: bold;
    padding: 5px 15px;
}

ul.summary li.not-applicable label {
    text-decoration: line-through;
    color: #3c763d;
}