/* 
    Created on : Nov 16, 2014, 10:37:00 PM
    Author     : tanpa
*/
::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background-clip: padding-box;
    border: solid transparent;
    border-width: 0 0 0 4px; 
}

::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.2);
    border: solid transparent;
    border-width: 12px;
    -webkit-box-shadow: inset 1px 1px 0 rgba(0, 0, 0, 0.1), inset 0 -1px 0 rgba(0, 0, 0, 0.07);
    -moz-box-shadow: inset 1px 1px 0 rgba(0, 0, 0, 0.1), inset 0 -1px 0 rgba(0, 0, 0, 0.07);
    box-shadow: inset 1px 1px 0 rgba(0, 0, 0, 0.1), inset 0 -1px 0 rgba(0, 0, 0, 0.07);
    background-clip: padding-box; 
    -webkit-border-radius: 10px;
}

::-webkit-scrollbar-track-piece {
    background-color: transparent;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    -o-border-radius: 0;
    border-radius: 0; 
}

body {
    font-family: 'Tahoma', sans-serif;
    background:  url('../img/bg.png');
}

object {
    height: 100%;
    width: 100%; 
}

/* form control related */

.form-control {
    color: #262626;
}

input, select {
    border-radius: 0px ! important;
}

label {
    font-weight: 600;
    color: #555;    
}

textArea {
    color: #262626;
    min-height: 110px;
    padding: 5px;
    resize: vertical;
    width: 100%;    
}

select[multiple=true] option {
    border-bottom: solid 1px #e5e5e5;
    padding: 5px 0px;
}

hr {
    margin: 10px 0px;
}

/* button related */

.btn {
    font-size: 12px;
    margin: 2px 1px;
}

.btn a {
    color: white;
}

.btn a:hover {
    color: white;
    text-decoration: none;
}

.btn a:visited {
    color: white;
}

/* panel related */

.panel-body {
    padding: 10px;
}

.panel-heading {
    padding: 8px 10px;
    font-weight: 600;
}

.panel-heading a {
    color: #636364;
    text-decoration: none;
}

.panel-heading a:hover,
.panel-heading a:visited {
    text-decoration: none;
}

.panel-primary a {
    color: white;
}

/* alert & modal related */

.alert {
    padding: 10px;
}

.modal-header {
    padding: 10px 10px;
}

.modal-title {
    font-weight: bold;
}

/* others */

.required-field {
    color: #C80000;
}

.validation-error {
    color: #C80000;
    top: 3px;
    position: relative;
    font-size: 12px;
    font-family: monospace;
    right: 5px;

}

.validation-field {
    border: solid 1px #F00000 ;
}

.bordered-left {
    border-left: solid 3px #e7e7e7;
}

@media(max-width: 640px) {
    .bordered-left {
        border-left: none;
    }
}